.Spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Square {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #000;
}